<p id="notice"><%= notice %></p>


<div class="row justify-content-md-center">
<h1 class="blinking headline text-danger large-text">Lovely Grades</h1>
</div>

<div class="row justify-content-md-center">
  <img class="text-center" src="https://media1.tenor.com/images/afc199aba63308be9826b60cfc574653/tenor.gif?itemid=8712171" alt="Резултат слика за yay">
</div>


<div class="row justify-content-md-center pt-4">


<table>
  <thead>
    <tr>
      <th>Subject</th>
      <th>Grade</th>
      <th>Term</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @grades.each do |grade| %>
      <tr>
        <td class="headline text-danger"><%= grade.subject %></td>
        <td ><%= grade.grade %></td>
        <td><%= grade.term %></td>
        <td><%= grade.date %></td>
        <td><%= link_to 'Show', grade %></td>
        <td><%= link_to 'Edit', edit_grade_path(grade) %></td>
        <td><%= link_to 'Destroy', grade, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      
    <% end %>
  </tbody>
</table>

</div>


<div class="row justify-content-md-center pt-4">
        <%= link_to 'New Grade', new_grade_path %>
        <img height="20" src="https://www.theworldsworstwebsiteever.com/images/new21.gif" width="38">

        </div>






